html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
p {
  font-family: 'Indie Flower', cursive;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Nunito Sans', sans-serif;
  font-family: 'Nova Flat', cursive;
}
